*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(14, 82, 94), rgb(90, 90, 17));
}
h2{
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
    font-style: italic;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
h2::first-letter{
    color: rgb(240, 52, 18);
    font-size: 50px;
}
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 25%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.425);
}
#prev{
    left: -50px;
}

#next {
    right: -50px;
}

button:hover {
    background-color: black;
}
